

@import "./colors";
@import "./global";
@import "./fonts";
@import "./components/header";
@import "./components/footer";

$DIN : 'DIN', serif;

body{
  font-family: 'Tajawal', sans-serif;
  overflow-x: hidden;
  direction: rtl;
  background: #f7f9fd;
}


h1,h2,h3,h4,h5,h6,a{
  font-family: 'Tajawal', sans-serif;
}


html {
  scroll-behavior: smooth;
}
